html, body { 
  .app {
    .breadcrumb-box{
      margin-top: 12px;

      nav>ol.breadcrumb{
        li.breadcrumb-item {
          color: #999;
        }
      }
    }
    .card-img-left {
      border-bottom-left-radius: calc(.25rem - 1px);
      border-top-left-radius: calc(.25rem - 1px);
      float: left;
      padding-right: 1em;
      margin-bottom: -1.25em;
      width: 150px;
    }
    .product-item {
      cursor: pointer;
      transition: box-shadow .3s;
      &:hover{
        box-shadow: 0 0 12px rgba(33,33,33,.2);
      }
      .product-decimals{
        line-height: 1.8;
        font-size: 14px;
        position: relative;
        top: -8px;
      }
    }
    nav.navbar{
      background-color: #fff159;
      height: auto;

      & .container > form{
        width: 100%;
        margin: 0 auto;
        .form-control:focus {
          color: #495057;
          background-color: #fff;
          border-color: #f8f9fa;
          outline: 0;
          box-shadow: none;
        }
        .form-control{
          border-color: #f8f9fa;
        }
      }
    }
    .error-box{
      .not-found {
        text-align: center;
        padding: 45px 15px;
        span > i{
          color: #999
        }
        p.title{
          font-size: 17px;
          margin-top: 15px;
          margin-bottom: 10px
        }
      }
    }
    .detail-box{      
      .product-detail{
        .decimals {
          line-height: 1.8;
          font-size: 22px;
          position: relative;
          top: -12px;
        }
        .description{
          p {
            text-align: justify;
            overflow: hidden;
            margin-top: 32px;
          }
        }
        .short-description{
          padding-top: 40px;
          padding-right: 40px;
        }
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          height: 400px;
          width: auto;
          padding: 50px;
        }
      }
      margin-bottom: 80px;
      box-shadow: 0 0 5px rgba(33,33,33,.2);
    }
  }
  background-color: #ebebeb;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

